
#innerdiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 25px;
}

body {
    background-color: #f5f7f6;
    text-align: center;
}

h1 {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 35px;
}

form {
    font-size: 50px;
}

#rowLimit {
    padding: 8px;
    border-radius: 8px;
}

#rowLimit:hover {
    border-color: #d6b42d;
}

.button {
    background-color: #0f397d; 
    color: white;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
}

.button:hover {
    background-color: #d6b42d;
}