
#innerdiv{ 
    display :flex;
    flex-direction: row;
    justify-content: center;
  
   }
#complaints{
    margin :50px
}
  
p{
       width: 400px;
       height: auto;
       text-align: left;
       margin-left :20px;
       
   }
  
   body {
    background-color: #f5f7f6;
    text-align: center;
}

h1 {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 35px;
}

form {
    font-size: 50px;
}

#rowLimit {
    padding: 8px;
    border-radius: 8px;
}

#rowLimit:hover {
    border-color: #d6b42d;
}

.formbutton {
    background-color: #0f397d; 
    color: white;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
}

.formbutton:hover {
    background-color: #d6b42d;
}

#descButton{
    width:auto;
    height:30px;
        background-color: #b5282d;
        color: white;
        font-style: bold 2px;
       border-radius: 8px;
        padding :5px ;
}

#descButton:hover{
    background-color: #d6b42d;
    
}

#descp{
    text-align: center;
    width :auto;
}